/* 
Todo:   add media query
        possibly add/change backgrounds

*/


* {
    margin: 0;
    padding: 0;
  }

  header {
    background-image: url('https://images.unsplash.com/photo-1603418735066-5a8986184c7d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80');
    background-position: center;
    background-size:cover;
    height:150px;
    background-repeat: no-repeat;
    
    
    justify-content: space-between;
    margin-bottom: 10px;
  }
  #headerWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
  }
header h1 {
    font-size: 50px;
    color:red;
    
}
  #logo {
    width: 100px;
    height: 50px;
    background: rgba(0, 0, 0, .25);
  }
  

 #login input{
    display:inline;
    width:50px;
    height:25px;
    font-size: 18px;
    font-weight: bold;
      }
  #login h1 {
      display: inline;
        
  }

  nav {
    background: rgba(0, 0, 0, .25);
  }

  #hero {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
    color:floralwhite;
    
  }
  #hero {
    background-image: url("https://images.unsplash.com/photo-1568031813264-d394c5d474b9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1649&q=80");
  }

  .heroGraphic {
    background: rgba(0, 0, 0, .25);
  }

  .heroGraphic img {
    width: 100%
  }

  .heroHeading {
    margin: 0 0 10px 10px;

  }

  .heroButton {
    background: rgba(0, 0, 0, .25);
    width: 50%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
  }



  #articles {

    display: flex;
    justify-content: center;

  }

  .articleContainer img {
    width: 100%;
  }

  .articleContainer {
    background: rgba(0, 0, 0, .25);
    width: 300px;
    margin: 0 1em;
    margin-bottom: 1em;
  }

  footer {
    background: rgba(0, 0, 0, .25);
    height: 50px;
    text-align: center;
    margin: 10px 0 0 0;
  }

  footer nav {
    background: none;
  }